<!-- views/index.ejs -->

<!doctype html>

<html>
<head>
  <title>Voting App</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" type='css/text' rel="stylesheet">
  <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>
  <link href="style.css" type="text/css" rel="stylesheet" >

  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">

  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">

</head>

<div class="header-cont header ">

    <div class="row">
      <div style='display:inline;'>


        <a href='/'>

          <div class="glow" style='float:right; margin-right: 40px;'>
            <span >
   Home
 </span>
          </div>
        </a>




          <div class="glow" style='float:right; margin-right: 40px;' >
            <div id='loginName' >

						<% if (user) { %>
							<a href='/profile'><span style=' '> Hello
								<%= user.twitter.displayName %>
							</span></a>
						<% }
						else{ %>
							<a href='/auth/twitter'><span> login </span></a>
						<% } %>


 </div>
          </div>




    </div>

    </div>

</div>



  <div class='bodyPart1' style='padding-top: 150px;'>
  <h1 class='  '>
     Voting App
  </h1>
</div>
<div class='text-center'>
<a href='/'> <button  class="button button1">NEW POLL</button> </a>
<a href='/'> <button href='/' class="button button2">OLD POLL</button> </a>
</div>

<p class='text-center text-danger' style='margin-top: 20px;'>
   by m-alchemist
  </p>

<script>


</script>
</body>


</html>
